In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/xingkaiwu/OneDrive - York University/MBAN Winter/MBAN 6400/Datacamp Predictive Analytics in Python/basetable_ex2_4.csv')

In [3]:
data

,target,gender_F,income_high,income_low,country_USA,country_India,country_UK,age,time_since_last_gift,time_since_first_gift,max_gift,min_gift,mean_gift,number_gift
0,0,1,0,1,0,1,0,65,530,2265,166.0,87.0,116.000000,7
1,0,1,0,0,0,1,0,71,715,715,90.0,90.0,90.000000,1
2,0,1,0,0,0,1,0,28,150,1806,125.0,74.0,96.000000,9
3,0,1,0,1,1,0,0,52,725,2274,117.0,97.0,104.250000,4
4,0,1,1,0,1,0,0,82,805,805,80.0,80.0,80.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0,1,0,0,1,0,0,66,406,2662,94.0,43.0,68.625000,8
24996,0,0,0,0,0,1,0,50,621,2463,132.0,117.0,124.500000,2
24997,0,0,0,0,0,1,0,80,874,2143,117.0,90.0,103.500000,2
24998,0,0,1,0,1,0,0,85,964,2375,108.0,62.0,78.666667,3
24999,0,1,0,1,1,0,0,41,1291,2200,116.0,62.0,93.714286,7